@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Rubik+Microbe&display=swap');

body {
    padding: 0;
    margin: 0;
}

img {
    cursor: pointer;
}

.header-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header-group .header {
    margin-top: 144px;
    width: 100%;
    height: 518px;
    background-color: #2364AA;
}

.header-group .header .group {
    display: flex;
}

.header-group .header img {
    display: flex;
    margin-top: 94px;
    margin-left: 207px;
    width: 301px;
    height: 301px;
}

.header-group .header h1 {
    color: white;
    margin-top: 163px;
    margin-left: 74px;
    font-size: 70px;
    font-family: sans-serif;
}

.header-group .triangle {
    background-color: #2364AA;
    width: 177px;
    height: 109px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    rotate: 180deg;
    margin: auto;
}

.create-account {
    width: 100%;
    height: 900px;
}

.create-account h1 {
    font-family: sans-serif;
    font-size: 50px;
    margin-left: 160px;
    color: black;
}

.create-account .box {
    width: 1511px;
    height: 598px;
    margin-left: 136px;
    padding-bottom: 88px;
    border: 10px solid #2364AA;
    border-radius: 0px 50px 50px 0px;
}

.create-account .box img {
    margin-top: 41px;
    margin-left: 55px;
    margin-bottom: -88px;
    width: 550px;
    height: 550px;
}

.create-account .box a button {
    width: 337px;
    height: 62px;
    background-color: #2364AA;
    border: none;
    border-radius: 25px;
    font-size: 25px;
    color: white;
    margin-left: 213px;
    margin-bottom: 173px;
}
/*
.offers {
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1700px;
    display: flex;
    padding-bottom: 5px;
    grid-gap: 1rem;
    width: 100%;
    overflow-x: auto;
    scroll-snap-type: x;
    cursor: grab;
    scroll-behavior: smooth;
    scrollbar-width: none; /* firefox */
}

/*
.offers::-webkit-scrollbar { /* chrome */
    display: none;/*
}

.offer {
    width: 288px;
    height: 288px;
    border: 1px solid black;
    min-width: calc(50% - .5rem);
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    scroll-snap-align: start;
    user-select: none;
}

.opinion-box {
    margin-top: 137px;
    width: 1200px;
    height: 336;

} */