@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Rubik+Microbe&display=swap');

body {
    padding: 0;
    margin: 0;
}

img {
    cursor: pointer;
}

.header-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header-group .header {
    margin-top: 144px;
    width: 100%;
    height: 518px;
    background-color: #2364AA;
}

.header-group  .header img {
    width: 301px;
    height: 301px;
    position: absolute;
    top: 238px;
    left: 207px;
}

.header-group .header h1 {
    color: white;
    margin-top: 163px;
    margin-left: 582px;
    font-size: 70px;
    font-family: sans-serif;
}

.header-group .triangle {
    background-color: #2364AA;
    width: 177px;
    height: 109px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    rotate: 180deg;
    margin: auto;
}

.create-account {
    position: absolute;
    top: 755px;
    width: 100%;
    height: 900px;
}

.create-account h1 {
    font-family: sans-serif;
    font-size: 50px;
    margin-left: 160px;
    color: black;
}

.create-account .box {
    width: 1511px;
    height: 598px;
    margin-left: 136px;
    padding-bottom: 88px;
    border: 10px solid #2364AA;
    border-radius: 0px 50px 50px 0px;
}

.create-account .box img {
    margin-top: 41px;
    margin-left: 55px;
    margin-bottom: -88px;
    width: 550px;
    height: 550px;
}

.create-account .box a button {
    width: 337px;
    height: 62px;
    background-color: #2364AA;
    border: none;
    border-radius: 25px;
    font-size: 25px;
    color: white;
    margin-left: 213px;
    margin-bottom: 88px;
}

.offers {
    position: absolute;
    top: 1678px;
    display: flex;
    padding-bottom: 137px;
}

.offer {
    width: 288px;
    height: 248px;
    border: 1px solid black;
    margin-right: 148px;
}
